<!DOCTYPE html>

<html>
<head>
<title>Nanny9ja</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/tools/asset/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
<script src="/tools/asset/js/ori.4.js"></script>
<script src="/tools/asset/js/vrview.min.js"></script>
</head>
<body>
  <header class="container">     
    <div class="row">
         <div class="col-sm-3" id="headermenu"> 
           <h1 id="headerm" style="text-transform: uppercase; font-size: 30px;"> Nanny9ja</h1>
           <div id="headerm2">
               <a href="/">Home</a>
           </div>
       </div>
        <nav class="col-sm-3 text-left" id="headermenu"> 
            <p id="home"><a href="/shops">Family Application</a></p>

            {{if .AuthEnabled}} <!-- this means if authentication is enabled for the application-->
            {{if .User}}<!-- and the user session is profiled for the user --> 
            {{if eq "Admin" .User.Level}} 
                <p id="home"><a href="/users/list">Users</a></p>
                <p id="home"><a href="/movies">Movies</a></p>
                <p id="home"><a href="/games">Games</a></p>
            {{else}}  
                <p id="home"><a href="/movies">Movies</a></p>
                <p id="home"><a href="/games">Games</a></p>
            {{end}}
            {{end}}
            {{end}}          
        </nav>

        <div class="col-sm-3" id="headermenu">
            <form>
            <input type="text" id="search" name="search" placeholder="Search..">
            </form>
        </div>
        <div class="col-sm-3 text-right" id="headermenu">
                <!-- [START auth] -->
                {{if .AuthEnabled}} 
                {{if .User}}   
              <form method="post" action="{{.LogoutURL}}" id="log" style="padding: 0">
              <button class="btn btn-default">Log out</button>
              </form>
                <div id="log">
                   {{if .User.ImageURL}}
                      <img class="img-circle" width="27" height="27" src="{{.User.ImageURL}}">
                  {{end}}
                   <span>{{.User.DisplayName}}</span>
                </div>
                 {{else}}
                 <p id="log"><a id="myLink1" href={{.LoginURL}}><span class="glyphicon glyphicon-log-in"></span> Login</a></a></p>
                 <p id="log"><a id="myLink2" href={{.SignupURL}}><span class="glyphicon glyphicon-user"></span> Sign Up</a></p>
                 {{end}}
                {{end}} 
         
            <!-- [END auth] -->
        </div>
    </div>
  </header>
  
  {{template "body" .Data}}

{{if .AddFooter}}
    <section class="supporting footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Fashion</h2>
                    <ul>
                    <li><a id="cat" href="/users/category/Cosmetics">Cosmetics</a></li>
                    <li><a id="cat" href="/users/category/Clothing">Clothing</a></li>
                    <li><a id="cat" href="/users/category/Shoes">Shoes</a></li>
                    <li><a id="cat" href="/users/category/Bags">Bags</a></li>
                    <li><a id="cat" href="/users/category/Jewelleries">Jewelleries</a></li>
                    </ul>
                </div> 
                <div class="col-sm-3">
                    <h2>Home & Kitchen</h2>   
                <ul>
                    <li><a id="cat" href="/users/category/Household Utensils">Household Utensils</a></li>
                    <li><a id="cat" href="/users/category/Beverages">Beverage</a></li>
                    <li><a id="cat" href="/users/category/Provision">Provision</a></li>
                    <li><a id="cat" href="/users/category/Cereals">Cereals</a></li>
                    <li><a id="cat" href="/users/category/Wine">Wine</a></li>
                </ul>      
                </div>     
                <div class="col-sm-3">
                    <h2>Baby, Kids & Toys</h2>
                    <ul>
                        <li><a id="cat" href="/users/category/Baby and Child Care">Baby & Child Care</a></li>
                        <li><a id="cat" href="/users/category/Baby and Toddler Toys">Baby and Toddler Toys</a></li>
                        <li><a id="cat" href="/users/category/Baby Accessories">Baby Accessories</a></li>
                        <li><a id="cat" href="/users/category/Baby Blankets">Baby Blankets</a></li>
                        <li><a id="cat" href="/users/category/Baby Clothing">Baby Clothing</a></li>
                        <li><a id="cat" href="/users/category/Children's Books">Children's Books</a></li>
                        <li><a id="cat" href="/users/category/Kids' Furniture">Kids' Furniture</a></li>
                    </ul>     
                </div>		    
                <div class="col-sm-3">
                    <h2>Weddings</h2>
                    <ul>
                        <li><a id="cat" href="/users/category/Wedding Bags and Purses">Wedding Bags & Purses</a></li>
                        <li><a id="cat" href="/users/category/Wedding clothing">Wedding clothing</a></li>
                        <li><a id="cat" href="/users/category/Belts and Braces">Belts & Braces</a></li>
                        <li><a id="cat" href="/users/category/Gloves and Mittens">Gloves & Mittens</a></li>
                        <li><a id="cat" href="/users/category/Hair Accessories">Hair Accessories</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h2>Weddings</h2>
                    <ul>
                        <li><a id="cat" href="/users/category/Wedding Bags and Purses">Wedding Bags & Purses</a></li>
                        <li><a id="cat" href="/users/category/Wedding clothing">Wedding clothing</a></li>
                        <li><a id="cat" href="/users/category/Belts and Braces">Belts & Braces</a></li>
                        <li><a id="cat" href="/users/category/Gloves and Mittens">Gloves & Mittens</a></li>
                        <li><a id="cat" href="/users/category/Hair Accessories">Hair Accessories</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h2>Entertainment</h2>   
                    <ul>
                        <li><a id="cat" href="/users/category/Books Films and Music">Books, Films & Music</a></li>
                        <li><a id="cat" href="/users/category/Electronics and Accessories">Electronics & Accessories</a></li>
                        <li><a id="cat" href="/users/category/provision">Provision</a></li>
                        <li><a id="cat" href="/users/category/cereals">Cereals</a></li>
                        <li><a id="cat" href="/users/category/wine">Wine</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h2>Vintage</h2>
                    <ul>
                        <li><a id="cat" href="/users/category/Hats and Caps">Hats and Caps</a></li>
                        <li><a id="cat" href="/users/category/Baseball and Trucker Caps">Baseball and Trucker Caps</a></li>
                        <li><a id="cat" href="/users/category/Fedoras">Fedoras</a></li>
                        <li><a id="cat" href="/users/category/Evening and Formal Gloves">Evening and Formal Gloves</a></li>
                        <li><a id="cat" href="/users/category/Keychains and Lanyards">Keychains and Lanyards</a></li>
                    </ul>
                </div>   
                <div class="col-sm-3">
                    <h2>Craft Supplies & Tools</h2>
                    <ul>
                        <li><a  id="cat" href="/users/category/Fibre and Textile Art">Fibre & Textile Art Supplies</a></li>
                        <li><a  id="cat" href="/users/category/Foods Craft Supplies">Foods Craft Supplies</a></li>
                        <li><a  id="cat" href="/users/category/Jewellery and Beading">Jewellery and Beading</a></li>
                        <li><a  id="cat" href="/users/category/Sewing and Needlecraft">Sewing and Needlecraft</a></li>
                        <li><a  id="cat" href="/users/category/General Supplies">General Supplies</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </section>
     
     
     {{end}}



        <script>var pixlr = (function () {
    /*
     * IE only, size the size is only used when needed
     */
    function windowSize() {
        var w = 0,
            h = 0;
        if (document.documentElement.clientWidth !== 0) {
            w = document.documentElement.clientWidth;
            h = document.documentElement.clientHeight;
        } else {
            w = document.body.clientWidth;
            h = document.body.clientHeight;
        }
        return {
            width: w,
            height: h
        };
    }

    function extend(object, extender) {
        for (var attr in extender) {
            if (extender.hasOwnProperty(attr)) {
                object[attr] = extender[attr] || object[attr];
            }
        }
        return object;
    }

    function buildUrl(opt) {
        var url = 'https://pixlr.com/' + opt.service + '/?s=c', attr;
        for (attr in opt) {
            if (opt.hasOwnProperty(attr) && attr !== 'service') {
                url += "&" + attr + "=" + escape(opt[attr]);
            }
        }
        return url;
    }
    var bo = {
        ie: window.ActiveXObject,
        ie6: window.ActiveXObject && (document.implementation !== null) && (document.implementation.hasFeature !== null) && (window.XMLHttpRequest === null),
        quirks: document.compatMode === 'BackCompat' },
        return_obj = {
            settings: {
                'service': 'editor'
            },
            overlay: {
                show: function (options) {
                    var opt = extend(return_obj.settings, options || {}),
                        iframe = document.createElement('iframe'),
                        div = pixlr.overlay.div = document.createElement('div'),
                        idiv = pixlr.overlay.idiv = document.createElement('div');

                    div.style.background = '#696969';
                    div.style.opacity = 0.8;
                    div.style.filter = 'alpha(opacity=80)';

                    if ((bo.ie && bo.quirks) || bo.ie6) {
                        var size = windowSize();
                        div.style.position = 'absolute';
                        div.style.width = size.width + 'px';
                        div.style.height = size.height + 'px';
                        div.style.setExpression('top', "(t=document.documentElement.scrollTop||document.body.scrollTop)+'px'");
                        div.style.setExpression('left', "(l=document.documentElement.scrollLeft||document.body.scrollLeft)+'px'");
                    } else {
                        div.style.width = '100%';
                        div.style.height = '100%';
                        div.style.top = '0';
                        div.style.left = '0';
                        div.style.position = 'fixed';
                    }
                    div.style.zIndex = 99998;

                    idiv.style.border = '1px solid #2c2c2c';
                    if ((bo.ie && bo.quirks) || bo.ie6) {
                        idiv.style.position = 'absolute';
                        idiv.style.setExpression('top', "25+((t=document.documentElement.scrollTop||document.body.scrollTop))+'px'");
                        idiv.style.setExpression('left', "35+((l=document.documentElement.scrollLeft||document.body.scrollLeft))+'px'");
                    } else {
                        idiv.style.position = 'fixed';
                        idiv.style.top = '25px';
                        idiv.style.left = '35px';
                    }
                    idiv.style.zIndex = 99999;

                    document.body.appendChild(div);
                    document.body.appendChild(idiv);

                    iframe.style.width = (div.offsetWidth - 70) + 'px';
                    iframe.style.height = (div.offsetHeight - 50) + 'px';
                    iframe.style.border = '1px solid #b1b1b1';
                    iframe.style.backgroundColor = '#606060';
                    iframe.style.display = 'block';
                    iframe.frameBorder = 0;
                    iframe.src = buildUrl(opt);

                    idiv.appendChild(iframe);
                },
                hide: function (callback) {
                    if (pixlr.overlay.idiv && pixlr.overlay.div) {
                        document.body.removeChild(pixlr.overlay.idiv);
                        document.body.removeChild(pixlr.overlay.div);
                    }
                    if (callback) {
                        eval(callback);
                    }
                }
            },
            url: function(options) {
                return buildUrl(extend(return_obj.settings, options || {}));
            },
            edit: function (options) {
                var opt = extend(return_obj.settings, options || {});
                location.href = buildUrl(opt);
            }
        };
    return return_obj;
}());</script>

</body>
</html>



