
<div class="container" id="edit">
<h3>{{if .}}Edit{{else}}Add{{end}} shop</h3>

<form method="post" enctype="multipart/form-data" action="/movies{{if .}}/{{.ID}}{{end}}">
  <div class="form-group">
    <label for="name">Shop Name:</label>
    <input class="form-control" name="name" id="name" value="{{.Name}}">
  </div>
  <div class="form-group">
    <label for="category">Shop Product Category:</label>
    <select class="form-control" name="category" id="category">
      <option value="Category not set">Select a category</option>
       <!-- Fashion -->
       <option value="Cosmetics" >Cosmetics</option>
       <option value="Clothing">Clothing</option>
       <option value="Shoes">Shoes</option>
       <option value="Bags">Bags</option>
       <option value="Jewelleries" >Jewelleries</option>
       <!-- Home & Kitchen -->
       <option value="Household Utensils">Household Utensils</option>
       <option value="Beverage">Beverage</option>
       <option value="Provision">Provision</option>
       <option value="Cereals" >Cereals</option>
       <option value="Wine">Wine</option>
       <!-- Baby, Kids & Toys -->
        <option value="Baby and Child Care">Baby and Child Care</option>
       <option value="Baby and Toddler Toys">Baby and Toddler Toys</option>
       <option value="Baby Accessories">Baby Accessories</option>
       <option value="Baby Blankets" >Baby Blankets</option>
       <option value="Baby Clothing">Baby Clothing</option>
       <option value="Children's Books">Children's Books</option>
       <option value="Kids' Furniture">Kids' Furniture</option>
       <!-- Weddings -->
       <option value="Wedding Bags and Purses">Wedding Bags and Purses</option>
       <option value="Wedding clothing">Wedding clothing</option>
       <option value="Wedding Shoes" >Wedding Shoes</option>
       <option value="Belts and Braces">Belts and Braces</option>
       <option value="Hair Accessories">Hair Accessories</option>
       <!-- Entertainment -->
        <option value="Books Films and Music">Books Films and Music</option>
       <option value="Electronics and Accessories">Electronics and Accessories</option>
       <option value="Toys and Games">Toys and Games</option>
      <!-- Vintage -->
       <option value="Hats and Caps" >Hats and Caps</option>
       <option value="Baseball and Trucker Caps">Baseball and Trucker Caps</option>
       <option value="Fedoras">Fedoras</option>
       <option value="Evening and Formal Gloves">Evening and Formal Gloves</option>
       <option value="Keychains and Lanyards">Keychains and Lanyards</option>
       <!-- Craft Supplies & Tools -->
        <option value="Fibre and Textile Art">Fibre and Textile Art</option>
       <option value="Foods Craft Supplies">Foods Craft Supplies</option>
       <option value="Jewellery and Beading">Jewellery and Beading</option>
       <option value="Sewing and Needlecraft" >Sewing and Needlecraft</option>
       <option value="General Supplies">General Supplies</option>
      
   </select>
  
  </div>
  <div class="form-group">
    <label for="author">Shop Owner:</label>
    <input class="form-control" name="author" id="author" value="{{.Author}}">
  </div>
  <div class="form-group">
    <label for="phone">Shop Owner Phone number:</label>
    <input class="form-control" name="phone" id="phone" value="{{.Phone}}">
  </div>
  <div class="form-group">
    <label for="emailaddress">Shop Owner Email Address:</label>
    <input class="form-control" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="emailaddress" id="emailaddress" value="{{.EmailAddress}}">
  </div>
  <div class="form-group">
    <label for="address">Shop Location Address:</label>
    <input class="form-control" name="address" id="address" value="{{.Address}}">
  </div>
  <div class="form-group">
    <label for="productionDate">Date Created:</label>
    <input class="form-control" name="productionDate" id="productionDate" value="{{.ProductionDate}}">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input class="form-control" name="description" id="description" value="{{.Description}}">
  </div>
  <div class="form-group">
    <label for="image">Cover Image:</label>
    <input class="form-control" name="image" id="image" type="file">
  </div>
  <button class="btn btn-success">Save</button>
  <input type="hidden" name="imageURL" value="{{.ImageURL}}">
  <input type="hidden" name="ownername" value="{{.OwnerName}}">
  <input type="hidden" name="ownerid" value="{{.OwnerID}}">
</form> 
</div>