
 <!-- work with ori.4.js -->   
    <div class="container mapview">
        
         <div id="map"></div>
     
        <div id="mySlide" class="options-box"> 
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <label>Idumota Market
                <input list="market">
                <datalist id="market">
                    <option value="Fashion"></option>
                    <option value="Home & Kitchen"></option> 
                    <option value="Baby, Kids & Toys"></option>
                    <option value="Weddings"></option>
                </datalist>
             </label>   
             
            <h2>Fashion</h2>
                <ul>
                <li><a id="cat" href="/shops/category/Cosmetics">Cosmetics</a></li>
                <li><a id="cat" href="/shops/category/Clothing">Clothing</a></li>
                <li><a id="cat" href="/shops/category/Shoes">Shoes</a></li>
                <li><a id="cat" href="/shops/category/Bags">Bags</a></li>
                <li><a id="cat" href="/shops/category/Jewelleries">Jewelleries</a></li>
                </ul>
            <h2>Home & Kitchen</h2>   
                
            <h2>Baby, Kids & Toys</h2>
                
            <h2>Weddings</h2> 
        </div> 

        <div class="slider">
         <i class="fa fa-car"></i>
        </div> 

    </div>
    
    <script async defer
        src=
        "https://maps.googleapis.com/maps/api/js?libraries=places,geometry,drawing&key=AIzaSyDEQ2QoHUVjWLkqzFsKPojeAxGK2LJ7mPk&v=3&callback=initMap">
    </script>

    
   
